public-f net.minecraftforge.common.MinecraftForge *
# public-f net.minecraftforge.eventbus.EventBus * # うまくいかない
public-f net.minecraft.world.entity.Entity *
public-f net.minecraft.world.entity.Entity m_142467_(Lnet/minecraft/world/entity/Entity$RemovalReason;)V # setRemoved()
public-f net.minecraft.world.entity.Entity m_213877_()Z # isRemoved()
public-f net.minecraft.world.entity.Entity m_20343_(DDD)V # setPosRaw()
public-f net.minecraft.world.entity.Entity m_20115_(IZ)V # setSharedFlag
public-f net.minecraft.world.entity.LivingEntity *
public-f net.minecraft.world.entity.LivingEntity m_21233_()F # getMaxHealth()
public-f net.minecraft.world.entity.Mob *
public-f net.minecraft.server.MinecraftServer *
public-f net.minecraft.server.level.ServerPlayer *
public-f net.minecraft.server.level.ServerLevel *
public-f net.minecraft.client.multiplayer.ClientLevel *
public-f net.minecraft.world.level.Level *
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager *
public-f net.minecraft.world.level.entity.PersistentEntitySectionManager addEntityWithoutEvent(Lnet/minecraft/world/level/entity/EntityAccess;Z)Z
public-f net.minecraft.world.level.entity.EntitySectionStorage *
public-f net.minecraft.world.level.entity.EntitySectionStorage m_156901_(J)Lnet/minecraft/world/level/entity/EntitySection; # createSection()
public-f net.minecraft.world.level.entity.EntitySection *
public-f net.minecraft.world.level.entity.LevelEntityGetterAdapter *
public-f net.minecraft.world.level.entity.EntityTickList *
public-f net.minecraft.world.level.entity.TransientEntitySectionManager *
public-f net.minecraft.world.entity.ai.goal.GoalSelector *
public-f net.minecraft.client.Minecraft *
public-f net.minecraft.client.Minecraft *()
public-f net.minecraft.client.sounds.SoundManager *
public-f net.minecraft.client.sounds.SoundEngine *
public-f net.minecraft.server.level.ServerBossEvent *
public-f net.minecraft.client.model.geom.builders.LayerDefinition *
public-f net.minecraft.client.model.geom.builders.MaterialDefinition *
public-f net.minecraft.util.ClassInstanceMultiMap *
public-f net.minecraft.server.level.ChunkMap *
public-f net.minecraft.server.level.ChunkMap$TrackedEntity *
public-f net.minecraft.world.level.entity.EntityLookup *
public-f net.minecraft.network.protocol.game.ClientboundRemoveEntitiesPacket *
public-f net.minecraft.network.protocol.game.ClientboundForgetLevelChunkPacket *
public-f net.minecraft.network.protocol.BundlePacket *
public-f net.minecraft.util.SortedArraySet *
public-f net.minecraft.util.SortedArraySet <init>(ILjava/util/Comparator;)V
public-f net.minecraft.server.level.DistanceManager *
public-f net.minecraft.server.level.Ticket *
public-f net.minecraft.server.level.TickingTracker *
public-f net.minecraft.server.level.ChunkHolder *
public-f net.minecraft.network.protocol.game.ClientboundMoveEntityPacket *
public-f net.minecraft.world.entity.ai.attributes.AttributeMap *
